@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

:root {
  --chakra-colors-chakra-body-bg: var(--chakra-colors-gray-50) !important;
}

.no-side-bar-layout {
  display: block;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.side-bar-layout {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
